<configuration>
    <!-- Real Environment -->
    <springProfile name="real">
        <property name="LOG_DIR" value="~/logs" />
        <property name="LOG_LEVEL" value="INFO" />
    </springProfile>

    <!-- Development Environment -->
    <springProfile name="dev">
        <property name="LOG_DIR" value="./logs" />
        <property name="LOG_LEVEL" value="DEBUG" />
    </springProfile>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 10 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="FILE" />
    </root>
</configuration>
